## Imports

In [14]:
import pandas as pd
import numpy as np

## Codes Pandas
### Manipulação básica de Data

Importando data (Carregando dados)

In [2]:
data = pd.read_csv("Data/ibovespa.csv", sep=",")

In [3]:
data.head(7)               # Exibe os 7 primeiros elementos

              DateTime  Series 1
0  2019-04-22 00:00:00  94588.06
1  2019-04-23 00:00:00  95923.24
2  2019-04-24 00:00:00  95045.43
3  2019-04-25 00:00:00  96386.29
4  2019-04-26 00:00:00  96236.00
5  2019-04-29 00:00:00  96187.75
6  2019-04-30 00:00:00  96353.33

In [4]:
data.info()               # Carrega as caracteristicas do data
type(data)                # Verifica o tipo do objeto
data.shape                # Exibe o formato do dataframe (linha/coluna)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  996 non-null    object
 1   Series 1  996 non-null    float64
dtypes: float64(1), object(1)
memory usage: 15.7+ KB

(996, 2)

#### Criando um Dataframe

In [5]:
personagens_df = pd.DataFrame({                                  # Criando um DataFrame
    'nome' : ["Gabriel", "Yoda", "Palpatine"],
    'idade' : [26,100,15],
    'peso' : [70.5,63.9,59.9]
})
personagens_df.columns                                      # retorna uma lista de todas as colunas
personagens_df.rename(        # renomeia a coluna nome (gera uma cópia) (implace = true -> altera o data sem cópia)
    columns={'nome' : 'Nome Completo'}
)

  Nome Completo  idade  peso
0       Gabriel     26  70.5
1          Yoda    100  63.9
2     Palpatine     15  59.9

#### Series
array uni-dimensional com os dados e rótulos de um eixo.

In [6]:
data['Series 1']           # Seleciona uma coluna inteira (poderia ser usado tamem como data.Series)'b'

0       94588.06
1       95923.24
2       95045.43
3       96386.29
4       96236.00
         ...
991    106889.71
992    106457.85
993    106279.37
994    106015.67
995    105727.89
Name: Series 1, Length: 996, dtype: float64

In [7]:
data.iloc[1]                # Pega uma linha do dataset (amostra)
pd.Series([4,3,6,4,5])      # Declara uma series
pd.Series([4,3,6], index=['prova1', 'trab1', 'project'], name='name of the series')

prova1     4
trab1      3
project    6
Name: name of the series, dtype: int64

#### Atribuindo Dados

In [8]:
data_view = data['Series 1']          # Gera uma referência para a coluna series 1
data_view = data['Series 1'].copy()   # Gera uma copia para a coluna series 1
data['Series 1'] = 34                 # Atribui cada linha da coluna Series no dataframe como 34
rowq, colq = data.shape               # Retorna a qtd de linha e coluna do dataframe

dataColCopy = data['Series 1']
print(data.head())
newCol = [i+1 for i in range(rowq)]
data['Series 1'] = newCol
print(data.head())

              DateTime  Series 1
0  2019-04-22 00:00:00        34
1  2019-04-23 00:00:00        34
2  2019-04-24 00:00:00        34
3  2019-04-25 00:00:00        34
4  2019-04-26 00:00:00        34
              DateTime  Series 1
0  2019-04-22 00:00:00         1
1  2019-04-23 00:00:00         2
2  2019-04-24 00:00:00         3
3  2019-04-25 00:00:00         4
4  2019-04-26 00:00:00         5

#### Criando novas colunas

In [9]:
data['newCol'] = 'newc'                  # Gera uma nova coluna com todos os valores sendo 'newc'
data['Series 1'] = data['Series 1'] * 3    # Gera uma nova coluna a partir de outra
data.index

personagens_df = pd.DataFrame({                                  # Criando um DataFrame
    'nome' : ["Gabriel", "Yoda", "Palpatine"],
    'idade' : [26,100,15],
    'peso' : [70.5,63.9,59.9]
}, index=['idx1', 'idx2', 'idx3'])                               # Atribui o valor nos index
personagens_df

           nome  idade  peso
idx1    Gabriel     26  70.5
idx2       Yoda    100  63.9
idx3  Palpatine     15  59.9

####  Selecionando uma ou mais amostras a partir do index

In [10]:
data.iloc[1]['Series 1']               # Recupera o valor da coluna Series 1 da linha 1
print(data.iloc[1,1])                  # Recupera o valor da coluna 1 e da linha 1
data.iloc[2:8]['Series 1']             # Recupera o valor da coluna Series 1 do intervalo 2-4
data.iloc[[1,5,6,9]]                   # Recupera somente os elementos dentro da lista no iloc
personagens_df.loc['idx1']             # Recupera a amostra pelo index literal (visivel)

6

nome     Gabriel
idade         26
peso        70.5
Name: idx1, dtype: object

#### Removendo Atributos

In [11]:
del data['newCol']                     # Remove a coluna 'newCol' no próprio dataframe

####  Salvando dataframe

In [12]:
data.to_csv('Data/train.csv', index=False, sep = ',')

### Code Numpy

In [20]:
a = np.array([                        # Declarando uma matriz
    [1,2,3],
    [3,2,1],
    [53,3,1]
])

b = np.arange(15).reshape(5,3)       # Declara uma matriz (5l x 3c) a partir de um arange 

c = np.zeros((3,4), dtype = int)     # Declara uma matriz de zeros
d = np.ones((3,4), dtype = int)      # Declara uma matriz de um's

sum = c+d                            # Soma elemento por elemeto com seu remetente (para todas operações basicas)
asum = a.sum()                       # realiza a soma de todos os elementos do conjunto
lsum = a.sum(axis=0)                 # Realiza a soma linha a linha do conjunto
csum = a.sum(axis=1)                 # Realiza a soma coluna a coluna do conjunto

mean = a.mean()                      # Realiza a média dos valore (segue a mesma lógica do sum)

print(a)
print("\n",b)

[[ 1  2  3]
 [ 3  2  1]
 [53  3  1]]

 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]]